body {
	color: #222;
	background-color: #222;
	font-family: 'Verdana', sans-serif;
	padding: 0em;
	margin: 0em;

	-webkit-user-select: none;
	user-select: none;
}

div#container {
	width: 20em;
	height: 11em;
	padding: 1em;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: #ddd;
	border-radius: 1em;
}

h1 {
	font-size: 1.6em;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0em;
	margin: 0em;
}

p#status {
	color: #390;
}

p#button {
	text-align: center;
}

button {
	color: #ddd;
	background-color: #222;
	font-size: 1em;
	font-weight: bold;
	padding: 1em;
	border: 0em;
	border-radius: 1em;
}

button:hover {
	background-color: #130;
}

button:focus {
	outline: 0;
}
