body {
	color: #ddd;
	background-color: #222;
	font-family: 'Lato', sans-serif;
	padding: 0em;
	margin: 0em;

	-webkit-user-select: none;
	user-select: none;
}

div#container {
	width: 50em;
	height: 12em;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div#time {
	line-height: 8em;
}

div#time p {
	font-size: 8em;
	font-weight: 100;
	text-align: center;
	padding: 0em;
	margin: 0em;
}

div#date {
	margin-top: 1em;
	line-height: 1.6em;
}

div#date p {
	color: #777;
	font-size: 1.6em;
	font-weight: 300;
	text-align: center;
	padding: 0em;
	margin: 0em;
}
