body {
	font-family: "Open Sans";
	color: #ddd;
	background-color: #222;
	padding: 0em;
	margin: 0em;
}

div#time {
	margin-top: 4em;
}

div#time p {
	font-size: 8em;
	text-align: center;
	padding: 0em;
	margin: 0em;
}

div#date p {
	color: #777;
	font-size: 1.6em;
	text-align: center;
	padding: 0em;
	margin: 0em;
}
